@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background: black;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


.btn-shine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 48px;
  color: #ffffff;
  background: linear-gradient(to right, #3f3f3f 0, #e1d3b1 40%, #3f3f3f 80%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite alternate;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 7vw; /* Use viewport width for responsive sizing */
  text-decoration: none;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .btn-shine {
    font-size: 8vw; /* Smaller font size for tablets */
  }
}

@media (max-width: 480px) {
  .btn-shine {
    font-size: 6vw; /* Even smaller for mobile devices */
  }
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 400px;
  }
  100% {
    background-position: 800px;
  }
}

@keyframes neon-border-movement {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.neon-border {
  border: 1px solid transparent;
  border-radius: 1.5rem;
  background: linear-gradient(270deg, #e1d3b1, #02083e00, #1f0f4500, #e1d3b1, #02083e00, #1f0f4500, #e1d3b1);
  background-size: 400% 400%;
  animation: neon-border-movement 7s ease infinite, blur 1.5s infinite alternate;
  animation-play-state: running;
  filter: brightness(1);
  z-index: 1;
}

.neon-border-2 {
  border: 1px solid transparent;
  border-radius: 1.2rem;
  background: linear-gradient(270deg, #0975c8, #02083e00, #1f0f4500, #0975c8, #02083e00, #1f0f4500, #0975c8);
  background-size: 400% 400%;
  animation: neon-border-movement 7s ease infinite, blur 1.5s infinite alternate;
  animation-play-state: running;
  filter: brightness(1);
  z-index: 1;
}

.neon-border-3 {
  border: 1px solid transparent;
  border-radius: 1.2rem;
  background: linear-gradient(270deg, #e1d3b1, #02083e00, #1f0f4500, #e1d3b1, #02083e00, #1f0f4500, #e1d3b1);
  background-size: 400% 400%;
  animation: neon-border-movement 7s ease infinite, blur 1.5s infinite alternate;
  animation-play-state: paused;
  filter: brightness(1);
  z-index: 1;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin 5s linear infinite; /* Adjust the duration for slower or faster spin */
}

@keyframes pulseExpandGlow {
  0%, 100% {
    transform: scale(1);
    text-shadow: 0 0 5px rgba(0, 102, 255, 0.9), 0 0 10px rgba(0, 102, 255, 0.9);
  }
  50% {
    transform: scale(1.3);
    text-shadow: 0 0 15px rgba(0, 102, 255, 0.9), 0 0 30px rgba(0, 102, 255, 0.9);
  }
}

.pulse-expand-glow {
  animation: pulseExpandGlow 2s ease-in-out infinite;
}



.font-cursive {
  font-family: 'Yellowtail', cursive;
}
